In [1]:
import numpy as np
import pandas as pd

In [2]:
obj1 = pd.Series([3,5,2,7,9])

In [11]:
(obj1.values, obj1.index)

(array([3, 5, 2, 7, 9], dtype=int64), RangeIndex(start=0, stop=5, step=1))

In [4]:
obj2 = pd.Series([3,5,2,7,9], index = ['a','b','c', 'd' , 'e' ])

In [5]:
obj2[['a','d', 'c']]

a    3
d    7
c    2
dtype: int64

In [13]:
obj2[obj2 > 5]

d    7
e    9
dtype: int64

In [7]:
obj2*7

a    21
b    35
c    14
d    49
e    63
dtype: int64

In [8]:
np.exp(obj2)

a      20.085537
b     148.413159
c       7.389056
d    1096.633158
e    8103.083928
dtype: float64

#### Passing a Dict Data

In [36]:
cdata = {'Elgeyo Marakwet': 200000, 'Nandi': 400000, 'Uasingishu': 350000, 'Tranzoia': 655000}

In [37]:
obj3 = pd.Series(cdata)

In [38]:
obj3[obj3<=200000]

Elgeyo Marakwet    200000
dtype: int64

In [35]:
counties = ['Migori', 'Elgeyo Marakwet', 'Narok', 'Nandi']

In [39]:
obj4 = pd.Series(cdata, index = counties)

In [40]:
obj4

Migori                  NaN
Elgeyo Marakwet    200000.0
Narok                   NaN
Nandi              400000.0
dtype: float64

#### isnull and notnull
should be used to detect presence of a missing value

In [41]:
pd.isnull(obj4)

Migori              True
Elgeyo Marakwet    False
Narok               True
Nandi              False
dtype: bool

In [42]:
pd.notnull(obj4)

Migori             False
Elgeyo Marakwet     True
Narok              False
Nandi               True
dtype: bool

In [45]:
math.ceil(12.77878)

13

In [46]:
countiesgender = {'Migori': {'Male':250000, 'Female': 300000}, 'Elgeyo Marakwet': {'Male':250000, 'Female': 300000}}

In [48]:
gender = pd.DataFrame(countiesgender)

In [54]:
d = gender.T